<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8132c83a04.js" crossorigin="anonymous"></script>
    <!-- modal -->
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-material-ui/material-ui.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/board.css" /> 
</head>
<body>
    <div class="container">

        <div class="mypage-head"> π‹ <%=studydata.study_name%>μ— μ¤μ‹ κ±Έ ν™μν•©λ‹λ‹¤! π‹
            <button type="button" onclick="goHome()" class="homeBtn">
                <i class="fa-solid fa-house"></i>
            </button>
        </div>

        <div class="menu">
            <div onclick="goSearch()">
                <i class="fa-solid fa-user">&nbsp;&nbsp;
                    <a href="http://localhost:8000/feed/board?study_id=<%=studydata.study_id%>">κ²μ‹νμ΅°ν</a>
                </i>
                <span><i class="fa-solid fa-user">&nbsp;&nbsp;
                    <a href="http://localhost:8000/feed/board?study_id=<%=studydata.study_id%>">κ²μ‹νμ΅°ν</a>
                </i></span>
            </div>
            <div onclick="goPosting()">
                <i class="fa-solid fa-podcast">&nbsp;&nbsp;
                    <a href="http://localhost:8000/feed/board/write?study_id=<%=studydata.study_id%>">κ²μ‹νλ“±λ΅</a>
                </i>
                <span><i class="fa-solid fa-podcast">&nbsp;&nbsp;
                    <a href="http://localhost:8000/feed/board/write?study_id=<%=studydata.study_id%>">κ²μ‹νλ“±λ΅</a>
                </i></span>
            </div>
        </div>

        <div class="modify-list">
                <form id="modify_info">
                    <div class="cuteContainer">
                        <img src="/public/group/123456789.jpg" />
                        <img src="/public/group/1661772816438.jpg" />
                        <img src="/public/image/hiroo.jpeg" />
                        <img src="/public/group/1661792822028.jpg">
                        <img src="/public/group/group_default.jpg">
                    </div>
                    <hr>
                    <h2 class="listH2">LIST
                        <i class="fa-brands fa-instagram"></i>
                    </h2>
                    <div class="box">
                        <% if (isBoard == true ) {%>     
                            <% for (i=0; i <boardData.length; i++) {%>
                        <div class="list" id="<%=boardData[i].lounge_id%>" onclick="detailBoard(this.id);">
                            <div class="imgBx">
                                <img src="/public/image/cute.png" />
                            </div>
                            <div class="content">
                                <h3 class="rank"><small>#</small><%=boardData[0].write_name%></h3>
                                <h2><%=boardData[0].title%></h2>
                                <p><%=boardData[0].lounge_regdate%></p>
                            </div>
                            
                        </div>
                        <% } %> 
                        <% } else { %> 
                        <% } %>
                    </div>



                        <!-- <table border="1" class="lounge_main" style="text-align: center;">
                            <thead>
                            <tr class="lounge_main_total">
                                <th class="lounge_main_name">μ‘μ„±μ</th>
                                <th class="lounge_main_title">μ λ©</th>
                                <th class="lounge_main_date">λ“±λ΅μΌ</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if (isBoard == true ) {%>     
                                <% for (i=0; i <boardData.length; i++) {%>
                                    <tr class="lounge_total">
                                        <td class="lounge_name"><%=boardData[i].write_name%></td>
                                        <td class="lounge_title" id="<%=boardData[i].lounge_id%>" onclick="detailBoard(this.id);"><%=boardData[i].title%></td>
                                        <td class="lounge_date"><%=boardData[i].lounge_regdate%></td>
                                    </tr>
                                <% } %> 
                            <% } else { %> 
                            <% } %>
                        </tbody>
                        </table> -->
                </form>
            
        </div>
    </div>

    <script>

        // /* λΌμ΄μ§€ λ“±λ΅ μƒμ„Ένμ΄μ§€ ν™”λ©΄μΌλ΅ μ΄λ™ */
        // function add_Posting() {
        //     var form = document.getElementById('study_id');
        //     axios({
        //         method:'get',
        //         url: "http://localhost:8000/feed/board",
        //         params: {
        //             study_id : form.innerText
        //         }
        //     })
        //     .then((req) => { return req.data;})
        //     .then((data) => {
        //         document.location.href="http://localhost:8000/feed/board?study_id="+form.innerText;
        //     })
        // }

        function detailBoard(clicked_lounge_id) {
            document.location.href=`http://localhost:8000/feed/board/detail?lounge_id=${clicked_lounge_id}`;
        }
        function goHome() {
            document.location.href="http://localhost:8000/swith";
            }
    </script>
</body>
</html>