<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세조회(게시물수정)</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- sweetalert -->
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal/minimal.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/detailedPost.css">
    <!-- <link rel="stylesheet" href="/public/css/navbar.css" /> -->
    <!-- <link rel="stylesheet" href="/public/css/footer.css" /> -->
   <script src="https://kit.fontawesome.com/8132c83a04.js" crossorigin="anonymous"></script>
   <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
   <!-- kakao -->
   <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</head>
<body>
    <header>
        <a href="http://localhost:8000/swith" class="logo">
            <img src="/public/main/logo.png" alt="logo" />
        </a>
        <ul>
            <li class="logout"><a href="http://localhost:8000/feed/write">
                <i class="fa-solid fa-folder-plus"><span>&nbsp;&nbsp;스터디 등록</span></i></a>
            </li>
            <li class="logout" onclick="logout();">
                <i class="fa-solid fa-user"><span>&nbsp;&nbsp;로그아웃</span></i></a>
            </li>
            <li class="logout"><a href="http://localhost:8000/user/mypage">
                <i class="fa-solid fa-house-chimney-user"><span>&nbsp;&nbsp;마이페이지</span></i></a>
            </li>
        </ul>
    </header>

    <tbody>
        <div class="wrap">
            <form id="deatailPost" name="deatailPost">
                <div class="box">
                    <div class="img_box">   
                        <div class="Category_box"></div>
                    </div>

                    <!-- 스터디 아이디 -->
                    <div id="study_id" style="display:none"><%=result[0].study_id %></div> 

                    <!-- 스터디 이미지 -->    
                    <div class="studyImage">
                        <% if(locals.result[0]) { %>
                            <img class="group_img" src="/public/group/<%= result[0].study_image%>" style="border-radius:15px;">
                        <% } else { %>
                            <img class="group_img" src="/public/group/<%= result.study_image%>" style="border-radius:15px;">
                        <% } %>  
                        <!-- 스터디 이름 -->
                        <div class="studyName">
                            <p class="studyName_2">
                            <% if(locals.result[0]) { %>
                                <span class="studyName_txt" id="study_name"><%= result[0].study_name %></span>
                            <% } else { %>
                                <span class="studyName_txt" id="study_name"><%= result.study_name %></span>
                            <% } %>   
                            </p>
                            <div class="likes">
                                <% if (islike == false) { %>
                                    <p style="font-size:1.3rem;" class="heart far fa-heart"></p>
                                <% } else { %>
                                    <p style="font-size:1.3rem;" class="heart fa-solid fa-heart"></p>
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <!-- 카테고리 -->
                    <div>
                        <p class="Category_txt">
                            <% if(locals.result[0]) { %>
                                <span><%= result[0].study_category %></span>
                            <% } else { %>
                                <span><%= result.study_category %></span>
                            <% } %>   
                        </p>
                    </div>

                    <div class="section_box">
                        <div class="name">스터디 소개글</div>
                        <div class="value" id="study_content"><%=result[0].study_content %>
                        </div>
                    </div>
                
                    <div class="section_box">
                        <div class="name">해시태그</div>
                        <div class="value"><%=result[0].hashtag %>
                        </div>
                    </div>
                
                
                    <div class="section_box">
                        <div class="name_wrap">스터디 현재멤버</div>
                        <div class="user_name_box">
                            <% if(locals.result[0]) { %>
                                <% for(var i=0; i < result.length; i++) { %>
                                    <% if (i == 0) { %>
                                        <div class="value_wrap">
                                            <div class="name_image">
                                                <img class="img" src="/public/user/<%= result[i].user_image%>">
                                            </div>
                                            <div class="name_txt">
                                                <p class="result_txt">👑<%= result[i].user_name %></p>
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <div class="value_wrap">
                                            <div class="name_image">
                                                <img class="img" src="/public/user/<%= result[i].user_image%>">
                                            </div>
                                            <div class="name_txt">
                                                <p class="result_txt"><%= result[i].user_name %></p>
                                            </div>
                                        </div>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </div> 
                    </div>

                    <div class="section_box">
                        <div class="name">스터디 형태</div>
                        <div class="value"><% if(locals.result[0]) { %>
                            <%= result[0].study_form %>
                                <% } else { %>
                                    <%= result.study_form %>
                                <% } %>
                        </div>
                    </div>

                    <% if(result[0].study_address != ' ') { %>  
                        <div class="section_box">
                            <div class="name">스터디위치</div>
                            <div class="value"><% if(locals.result[0]) { %>
                                <%= result[0].study_address %>
                                    <% } else { %>
                                    <%= result.study_address %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>

                    <div class="section_box">
                        <div class="name">모집인원</div>

                        <div class="value"><% if(locals.result[0]) { %>
                            <%= result[0].study_recruit %>명
                                <% } else { %>
                                <%= result.study_recruit %>명
                            <% } %>
                        </div>
                    </div>

                    <div class="section_box">
                        <div class="name">스터디기간</div>
                        <div class="value">
                            <div class="period_box">
                                <!-- 시작일 -->
                                <% if(locals.result[0]) { %>
                                <%= result[0].start_period %>
                                    <% } else { %>
                                <%= result.start_period %>
                                    <% } %>
                                ~ 
                                <!-- 마감일 -->
                                <% if(locals.result[0]) { %>
                                <%= result[0].end_period %>
                                    <% } else { %>
                                <%= result.end_period %>
                                    <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="Category_box"></div>

                    <button type="button" onclick="detailed()" class="detail" style="color:white">게시물 수정하기</button>
                    

                    <div class="regi_btn_wrap">
                        <div class="regi_txt">
                            <% if (result.length < result[0].study_recruit) { %>
                                <span>모집중</span>
                            <% } else { %>
                                <span>모집마감</span>
                            <% } %>
                        </div>
                        
                        <button class="regi_btn" type="button" onclick="detailedPost_index()" class="list" style="color:white">목록</button>
                    </div>

                    <div>
                        <button class="Lounge_btn" type="button" onclick="Lounge_index()">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <br>
                            Study Lounge
                        </button>
                    </div>
                    
                    <div>
                        <button class="url_btn" type="button" onclick="kakaoShare()">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </button>
                    </div>

                    <div class="Category_box"></div>
                </div>    
            </div>   
            </form>
        </div>
    </tbody>
    <!-- footer -->
    <footer class="footer">
        <div class="inner-footer">
            <div class="social-links">
                <ul>
                    <li class="social-items"><a href="https://github.com/SeSAC43-Project/StudyWith" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                    <li class="social-items"><a href="https://www.notion.so/StudyWith-e93a4cc462c24d248243f0695eeaca56" target="_blank"><img src="/public/main/notion.png" alt="notion"></a></li>
                    <li class="social-items"><a href="javascript:void(0)"><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li class="social-items"><a href="javascript:void(0)"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>

            <div class="quick-links">
                <ul>
                    <li class="quick-items"><a href="">메인</a></li>
                    <li class="quick-items"><a href="https://sesac.seoul.kr/course/active/detail.do" target="_blank">스윗소개</a></li>
                    <li class="quick-items"><a href="javascript:void(0)">이용약관</a></li>
                    <li class="quick-items"><a href="javascript:void(0)">개인정보처리방침</a></li>
                </ul>
            </div>

            <div class="outer-footer">
                © Copyright 2022. Swith. All Rights Reserved.
            </div>
        </div>
    </footer>

    <script>
         /* kakao URL 공유하기 */
         Kakao.init('13291edd72c52e4e1212011eed2230da');

        function kakaoShare() {
            var study_id = document.getElementById('study_id').innerText;
            var study_name = document.getElementById('study_name').innerText;
            var study_content = document.getElementById('study_content').innerText;
            Kakao.Link.sendDefault({
            objectType: 'feed',
            content: {
                title: "[스터디] "+study_name,
                description: study_content,
                imageUrl: 'https://ifh.cc/g/Mltso8.png',
                link: {
                mobileWebUrl: 'http://localhost:8000/feed/detailedPost?'+study_id,
                webUrl: 'http://localhost:8000/feed/detailedPost?'+study_id,
                },
            },
            buttons: [
                {
                title: '스터디 참여하러 가기',
                link: {
                    mobileWebUrl: 'http://localhost:8000/feed/detailedPost?'+study_id,
                    webUrl: 'http://localhost:8000/feed/detailedPost?'+study_id,
                },
                },
            ],
            // 카카오톡 미설치 시 카카오톡 설치 경로이동
            installTalk: true,
            })
        }

        /* navbar */
        window.addEventListener("scroll", function () {
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        })

        /* 게시물 수정 화면으로 이동 */
        function detailed() {
            var form = document.getElementById('study_id');
            axios({
                method:'get',
                url: "http://localhost:8000/feed/management",
                params: {
                    study_id : form.innerText
                }
            })
            .then((req) => { return req.data;})
            .then((data) => {
                document.location.href="http://localhost:8000/feed/management?study_id="+form.innerText;
            })
        }

        /* 목록 버튼 */
        function detailedPost_index() {
                document.location.href="http://localhost:8000/swith";
        }

        /* 로그아웃 */
        function logout() {
            Swal.fire({
                title: '로그아웃',
                text: "정말로 로그아웃 하시겠습니까?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#a9a9a9',
                confirmButtonText: '로그아웃 하기'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios({
                        method:'get',
                        url:'http://localhost:8000/user/logout'
                    })
                    .then((req) => {return req.data;})
                    .then((data) => {
                        if (data) {
                                Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: '로그아웃 되었습니다.',
                                showConfirmButton: false,
                                timer: 1500
                            });
                            setTimeout(function() {
                                document.location.href="http://localhost:8000/swith";
                            }, 1000);
                        }
                    })
                }
            })
        }

        /* 좋아요 기능 */
        var likes = document.querySelector('.likes');
        likes.addEventListener('click', function(obj) {
            console.log($('.likes').children('.heart').hasClass('far fa-heart'));

            //빈 하트이면 
            if( $('.likes').children('.heart').hasClass('far fa-heart')) {
                like('insert');
            } else { //빨간 하트이면
                like('delete');
            }
        })

        function like(flag) {
            var form = document.getElementById('study_id');
            if ( flag == 'insert') {
                axios({
                    method:'post',
                    url: 'http://localhost:8000/swith/search/likes',
                    data : {
                        study_id : form.innerText,
                    }
                })
                .then((req) => { return req.data;})
                .then((data) => {
                    if (data.isLikes == true) {
                        $('.likes').children('.heart').removeClass('far fa-heart');
                        $('.likes').children('.heart').addClass('fa-solid fa-heart');
                        $('.likes').children('.heart').addClass('heartEffect');
                    }
                    
                });
            } else {
                axios({
                    method:'post',
                    url: 'http://localhost:8000/swith/search/likes/remove',
                    data : {
                        study_id : form.innerText,
                    }
                })
                .then((req) => { return req.data;})
                .then((data) => {
                    if (data.isDislikes == true) {
                        $('.likes').children('.heart').removeClass('fa-solid fa-heart');
                        $('.likes').children('.heart').addClass('far fa-heart');
                    }
                })
            }
        }

        // 스터디 라운지 페이지 이동 버튼
        function scrollIntoView(selector) {
                const scrollTo = document.querySelector(selector);
                scrollTo.scrollIntoView({ behavior: 'smooth' });
            }

        // 스터디 라운지 페이지로 이동
        function Lounge_index() {
            var form = document.getElementById('study_id');

            document.location.href="http://localhost:8000/feed/board?study_id="+form.innerText;
        }
    </script>
</body>
</html>