<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세조회(게시물수정)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/detailedPost.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        // 게시물 수정 화면으로 이동
        function detailed() {
            var form = document.getElementById('study_id');
            
            axios({
                method:'get',
                url: "http://localhost:8000/feed/management",
                params: {
                    study_id : form.innerText
                }
            })
            .then((req) => { return req.data;})
            .then((data) => {
                document.location.href="http://localhost:8000/feed/management?study_id="+form.innerText;
        
            })
        }

        // 목록 버튼을 누르면
        function detailedPost_index() {
                document.location.href="http://localhost:8000/swith";
            }
    </script>
</head>
<body>
    <nav>

    </nav>
        <tbody>
            <div class="wrap">
                <form id="deatailPost" name="deatailPost">
            <!-- <div class="CategoryImage" style="color:white;"> -->
                <div class="box">
                    <div class="img_box">   
                        <div class="Category_box"></div>
                    </div>

                    <!-- 스터디 아이디 -->
                    <div id="study_id" style="display:none"><%=result[0].study_id %></div>
                    
                        <!-- 스터디 이미지(등록이미지)  -->
                        <!-- <div class="studyImage" style="color:white;">  -->              
                        <div class="studyImage">
                            <img src="/public/image/mainStudy.png">
                            <!-- 스터디 이미지는 아직 없어서 안불러와 질 것 같아서 주석할게요-->
                            <% if(locals.result[0]) { %>
                                <img src="/public/user/<%= result[0].study_image%>" width="1000" height="300" style="border-radius:15px;">
                            <% } else { %>
                                <img src="/public/user/<%= result.study_image%>" width="1000" height="300" style="border-radius:15px;">
                            <% } %>  
                            <!-- 스터디 이름 -->
                            <div class="studyName">
                                <p class="studyName_2">
                                <% if(locals.result[0]) { %>
                                    <span class="studyName_txt"><%= result[0].study_name %></span>
                                <% } else { %>
                                    <span class="studyName_txt"><%= result.study_name %></span>
                                <% } %>   
                                </p>
                                <!-- <ul>
                                    <li>장소</li>
                                    <li>모임시간</li>
                                    <li>첫 모임일</li>
                                </ul> -->
                            </div>
                    </div>

                    <!-- 카테고리 -->
                        <div>
                            <p class="Category_txt">
                                <% if(locals.result[0]) { %>
                                    <span><%= result[0].study_category %></span>
                                <% } else { %>
                                    <span><%= result.study_category %></span>
                                <% } %>   
                            </p>
                        </div>
                    <!-- </div>     -->
            
                <!-- <div class="section_box"> -->

                    <div class="section_box">
                        <div class="name">스터디 소개글</div>
                        <div class="value"><%=result[0].study_content %>
                        </div>
                    </div>
                    
                    <div class="section_box">
                        <div class="name">해시태그</div>
                        <div class="value"><%=result[0].hashtag %>
                        </div>
                    </div>
                    
                    
                    <div class="section_box_name">
                        <div class="name">스터디 현재멤버</div>
                        <div class="value_wrap">
                            <% if(locals.result[0]) { %>
                                <% for(var i=0; i < result.length; i++) { %>
                                    <div class="box_name_wrap">
                                        <div class="img name_image">
                                            <img src="/public/user/<%= result[i].user_image%>">
                                        </div>
                                        <div class="col">
                                            <div class="col">
                                                <p class="result_txt"><%= result[i].user_name %></p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                            
                                <!-- 닉네임  -->
                                <!-- <% if(locals.result[0]) { %>
                                    <% for(var i=0; i < result.length; i++) { %>
                                        
                                    <% } %>
                                <% } %> -->
                            
                        </div> 
                    </div>

                    
                    

                    <div class="section_box">
                        <div class="name">스터디 형태</div>
                        <div class="value"><% if(locals.result[0]) { %>
                            <%= result[0].study_form %>
                                <% } else { %>
                                    <%= result.study_form %>
                                <% } %>
                        </div>
                    </div>

                    <% if(result[0].study_address != ' ') { %>  
                        <div class="section_box">
                            <div class="name">스터디위치</div>
                            <div class="value"><% if(locals.result[0]) { %>
                                <%= result[0].study_address %>
                                    <% } else { %>
                                    <%= result.study_address %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>

                    <div class="section_box">
                        <div class="name">모집인원</div>

                        <div class="value"><% if(locals.result[0]) { %>
                            <%= result[0].study_recruit %>
                                <% } else { %>
                                <%= result.study_recruit %>
                            <% } %>
                        </div>
                    </div>

                    <div class="section_box">
                        <div class="name">스터디기간</div>
                        <div class="value">
                            <div class="period_box">
                                <!-- 시작일 -->
                                <% if(locals.result[0]) { %>
                                <%= result[0].start_period %>
                                    <% } else { %>
                                <%= result.start_period %>
                                    <% } %>
                                ~ 
                                <!-- 마감일 -->
                                <% if(locals.result[0]) { %>
                                <%= result[0].end_period %>
                                    <% } else { %>
                                <%= result.end_period %>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="Category_box"></div>

                        <button type="button" onclick="detailed()" class="detail" style="color:white">게시물 수정하기</button>
                        
    
                        <div class="regi_btn_wrap">
                            <div class="regi_txt">
                                <% if (result.length < result[0].study_recruit) { %>
                                    <span>등록가능</span>
                                <% } else { %>
                                    <span>마감</span>
                                <% } %>
                            </div>
                            
                            <button class="regi_btn" type="button" onclick="detailedPost_index()" class="list" style="color:white">목록</button>
                        </div>
                    </div>
                    
                </div>   
                </form>
            </div>
        </tbody>
</body>
</html>