<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세조회(게시물수정)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/detailedPost.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        function detailed() {
            var detailedPost = document.getElementById("deatailPost");
            //get 방식으로 해주시면 됩니다.
            axois({
                method: 'get',
                url: "http://localhost:8000/feed/detailedPost/edit",
                params: {
                    // user_id : ,
                    // study_id : ,
                }
            }).then((req) => {return req.data})
            .then((data) => {

            })
        }
    </script>
</head>
<body>
    <nav>

    </nav>
        <tbody>
            <br>
            <div class="container">
                <form id="deatailPost" name="deatailPost">
                    <!-- <div class="CategoryImage" style="color:white;"> -->
                        <br>
                        <!-- 카테고리별 이미지 -->
                        <div class="CategoryImage">
                            <!-- 카테고리별 임시 이미지 저장 밑에 path에 저장해서 사용하세요-->
                            <!-- <img src="/public/categoty" width="1200" height="300" style="border-radius:15px;"> -->
                        </div>
                    </div>
                    <br>
                    <br>
                    <!-- 스터디 이미지(등록이미지)  -->
                    <!-- <div class="studyImage" style="color:white;">  -->              
                        <div class="studyImage">
                            <!-- 스터디 이미지는 아직 없어서 안불러와 질 것 같아서 주석할게요-->
                            <!-- <% if(locals.result[0]) { %>
                                <img src="/public/user/<%= result[0].study_image%>" width="1000" height="300" style="border-radius:15px;">
                            <% } else { %>
                                <img src="/public/user/<%= result.study_image%>" width="1000" height="300" style="border-radius:15px;">
                            <% } %>  -->
                        </div>    
                        
                        <br>
                        <br>
                        <!-- 스터디 이름 -->
                    <div>
                        <!-- <div class="studyName"> -->
                            <p class="studyName">스터디 이름</p>
                                <% if(locals.result[0]) { %>
                                    <span class="studyName_txt"><%= result[0].study_name %></span>
                                <% } else { %>
                                    <span class="studyName_txt"><%= result.study_name %></span>
                                <% } %>   
                        </div>
                        <!-- <div>
                            <ul>
                                <li>장소</li>
                                <li>모임시간</li>
                                <li>첫 모임일</li>
                            </ul>
                        </div> -->
                    </div>
                    <br>
                    <br>
                    <br>
                    <div>
                        <span class="studyContent_text">스터디 소개글</span>
                        <!-- <hr class="dotted"> -->
                        <% if(locals.result[0]) { %>
                            <span class="studyContent"><%= result[0].study_content %></span>
                        <% } else { %>
                            <span class="studyContent"><%= result.study_content %></span>
                        <% } %> 
                    </div>        
                    </div>
                    <br>
                    <br>
                    <br>
                    <div>
                        <span class="studyContent_text">해시태그</span>
                        <% if(locals.result[0]) { %>
                            <span class="hashTag"><%= result[0].hashtag %></span>
                        <% } else { %>
                            <span class="hashTag"><%= result.hashtagt %></span>
                        <% } %> 
                    </div>  
                    <br>
                    <br>
                    <br>      
                    <div>
                        <span class="userImage_text">스터디 현재멤버</span>

                        <div class="userImage_box">
                            <div class="userImage">
                                <!-- 스터디 멤버 이미지 -->
                                <!-- for문 사용해서 user의 length만큼 반복하면서 사진이랑 이름 가져오기-->
                                <!-- css가 없어서 화면에서 안보이네요. 검사로 보면 데이터 잘 가져오는 것 같아요!-->
                                    <% if(locals.result[0]) { %>
                                        <% for(var i=0; i < result.length; i++) { %>
                                            <img src="/public/user/<%= result[i].user_image%>" width="1000" height="300" style="border-radius:15px;">
                                        <% } %>
                                    <% } %>
                            </div>        
                            <!-- 닉네임  -->
                            <% if(locals.result[0]) { %>
                                <% for(var i=0; i < result.length; i++) { %>
                                    <span><%= result[i].user_name %></span>
                                <% } %>        
                            <% } %>
                        </div>     
                    </div>
                    <br>
                    <br>
                    <br>
                    <div>
                        <span class="studyForm_text">스터디 형태</span>
                        <div class="studyForm">
                            <% if(locals.result[0]) { %>
                                <span ><%= result[0].study_form %></span>
                            <% } else { %>
                                <span ><%= result.study_form %></span>
                            <% } %>   
                        </div>  
                        <!--  -->
                    </div>
                    <br>
                    <br>
                    <br>
                    <div>
                        <span class="studyAddress_text">스터디위치</span>
                    <div class="studyAddress">    
                        <% if(locals.result[0]) { %>
                            <span ><%= result[0].study_address %></span>
                        <% } else { %>
                            <span ><%= result.study_address %></span>
                        <% } %>
                    </div>    
                    </div>
                    <br>
                    <div>
                        <span class="studyRecruit_text">모집인원</span>
                        <div cass="studyRecruit">
                            <% if(locals.result[0]) { %>
                                <span ><%= result[0].study_recruit %></span>
                            <% } else { %>
                                <span ><%= result.study_recruit %></span>
                            <% } %>
                        </div>
                    </div>
                    <div>
                        <span class="period_text">스터디기간</span>
                        <div class="period_box">
                            <!-- 시작일 -->
                            <% if(locals.result[0]) { %>
                                <span ><%= result[0].start_period %></span>
                            <% } else { %>
                                <span ><%= result.start_period %></span>
                            <% } %>
                            <!-- 마감일 -->
                            <% if(locals.result[0]) { %>
                                <span ><%= result[0].end_period %></span>
                            <% } else { %>
                                <span ><%= result.end_period %></span>
                            <% } %>
                        </div>
                    </div>
                    <br>
                    <button type="button" onclick="detailed()" class="detail" style="color:white">게시물수정하러 가기</button>

                    <div>
                        <div id="ture" class="ture"></div>
                        <div id="back" class="back"></div>
                    </div>
                    <br>
                    <br>
                    <div>
                        <span>등록가능</span>
                        <span>마감</span>
                        <button type="button" onclick="detailedPost_index()" class="list" style="color:white">목록</button>
                    </div>
                </form>
            </div>
        </tbody>
 </body>
</html>