<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물등록</title>

        
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/css/feed.css">

    <script>

        function writeFeed() {
            var feed = document.getElementById("feed_info");

            axios({
                method:'post',
                url:'http://localhost:8000/feed/write',
                data : {
                    study_name : feed.studyName.value,
                    study_category : feed.studyCategory.value,
                    study_form : feed.studyForm.value,
                    study_recrut : feed.studyRecrut.value,
                    study_image : feed.studyImage.value,
                    study_content : feed.studyContent.value,
                    start_period : feed.start_year.value + '-' + feed.start_month.value + '-' + feed.start_day.value,
                    end_period : feed.end_year.value + '-' + feed.end_month.value + '-' + feed.end_day.value,
                    hashtag:feed.hashTag.value,
                }
            })
            .then((req) => { return req.data })
            .then((data) => {
                alert(data);
            })
        }


    </script>



</head>
<body>
    <nav>

    </nav>

    <tbody>
    <h2>스터디 등록</h2>
    <br>
    <div class="feed_container">
    <form id="feed_info" class="form_container" enctype="multipart/form-data">
            <div class="context_container">
                <div class="form-row">
                    <div class="name">스터디명</div>
                    <div class="value">
                    <input type="text" name="studyName" placeholder="스터디 그룹명을 적어주세요" required></div>
                </div>
                    <br>
                <div class="form-row">
                    <div class="name">카테고리 <br><span style="font-size: 0.7rem;">*카테고리를 선택해주세요.</span></div>
                    <div class="value">
                    <ul>
                        <li><input type="radio" name="studyCategory" value="언어">언어</li>
                        <li><input type="radio" name="studyCategory" value="자격증">자격증</li>
                        <li><input type="radio" name="studyCategory" value="취업">취업</li>
                        <li><input type="radio" name="studyCategory" value="IT">IT</li>
                        <li><input type="radio" name="studyCategory" value="취미">취미</li>
                        <li><input type="radio" name="studyCategory" value="인증">인증</li>
                        <li><input type="radio" name="studyCategory" value="공모전">공모전</li>
                    </ul>
                    </div>
                </div>
                    <br>
                <div class="form-row">
                    <div class="name">스터디형태</div><br>
                    <div class="value">
                        <input type="radio" name="studyForm" id="online" value="온라인" required>
                        <label for="online">온라인</label>
                        <input type="radio" name="studyForm" id="offline" value="오프라인" required>
                        <label for="offline">오프라인</label>
                    </div>
                </div>
                    <br>
                <div class="form-row">
                    <div class="name">모집인원</div>
                    <div class="value">
                    <input type="text" placeholder="모집인원을 적어주세요" name="studyRecrut">명
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="name">그룹이미지</div>
                    <div class="value"><input type="file" name="studyImage"></div>
                </div>
                <br>
                <div class="form-row">
                    <div class="name">스터디 소개글</div>
                    <div class="value"><input type="textarea" placeholder="스터디 소개글을 적어주세요." name="studyContent"></div>
                </div>
                <br>
                <div class="form-row">
                    <div class="name">스터디 기간<br></div>
                    <div class="value">
                    시작일: <input type="hidden" name="start_period">
                    <select id="start_year" name="start_year">
                        <option>
                            <%for(var i=2022; i<=2050; i++) {%>
                                <option value="<%=i%>"><%=i%></option>
                            <%}%>
                        </option>
                    </select>년
                    <select id="start_month" name="start_month">
                        <option>
                            <%for(var j=1; j<=12; j++) {%>
                                <option value="<%=j%>"><%=j%></option>
                            <%}%>
                        </option>
                    </select>월
                    <select id="start_day" name="start_day">
                        <option>
                            <%for(var k=1; k<=31; k++) {%>
                                <option value="<%=k%>"><%=k%></option>
                            <%}%>
                        </option>
                    </select>일
                    </div>
                    <br>
                    <br>
                    <div class="value">
                    종료일: <input type="hidden" name="end_period">
                    <select id="end_year" name="end_year">
                        <option>
                            <%for(var i=2022; i<=2050; i++) {%>
                                <option value="<%=i%>"><%=i%></option>
                            <%}%>
                        </option>
                    </select>년
                    <select id="end_month" name="end_month">
                        <option>
                            <%for(var j=1; j<=12; j++) {%>
                                <option value="<%=j%>"><%=j%></option>
                            <%}%>
                        </option>
                    </select>월
                    <select id="end_day" name="end_day">
                        <option>
                            <%for(var k=1; k<=31; k++) {%>
                                <option value="<%=k%>"><%=k%></option>
                            <%}%>
                        </option>
                    </select>일
                </div>
                </div>
                    <br>
                <div class="form-row">
                    <div class="name">해시태그</div>
                    <div class="value"><input type="text" placeholder="해시태그를 입력해주세요" name="hashTag"></div>
                </div>
                <br><br>

                <button type="button" onclick="writeFeed();">스터디 등록</button>
        </div>
    </form>
</div>
</tbody>
</body>
</html>