<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물등록</title>

        
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <link rel="stylesheet" href="/public/css/feed.css">

    <script>

        function writeFeed() {
            var feed = document.getElementById("feed_info");

            axios({
                method:'post',
                url:'http://localhost:8000/feed/write',
                data : {
                    study_name : feed.studyName.value,
                    study_category : feed.studyCategory.value,
                    study_form : feed.studyForm.value,
                    study_recruit : feed.studyRecruit.value,
                    study_image : feed.studyImage.value,
                    study_content : feed.studyContent.value,
                    start_period : feed.start_year.value + '-' + feed.start_month.value + '-' + feed.start_day.value,
                    end_period : feed.end_year.value + '-' + feed.end_month.value + '-' + feed.end_day.value,
                    hashtag:feed.hashTag.value,
                }
            })
            .then((req) => { return req.data })
            .then((data) => {
                alert(data);
            })
        }


        // $(document).ready(function() {
        //     $('input:radio[name=studyForm]').click(function(){
        //         if($('input[name=studyForm]:checked').val() == '온라인') {
        //             $('input:text[name=text]').attr('disabled',false);
        //         }
        //     })
        // })


        $(document).ready(function() {
            $('#offline').click(function(){
                $('#search_address').attr('disabled',false);
                $('#sample6_address').attr('disabled',false);
            })
            $('#online').click(function(){
                $('#search_address').attr('disabled',true);
                $('#sample6_address').attr('disabled',true);
                $('#sample6_address').val(' ');
                
            })
        });
    
        
        function show_hashtag(event) {
            const keyword = document.getElementById('enter_hashtag');
            const txt = document.getElementById('text_hashtag').value;
            if (event.keyCode == 13) {
                keyword.innerHTML += '#' + txt + ' ';
                document.getElementById('text_hashtag').value = " ";
                
            }
        }   


    function searchForAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = '';
                var extraAddr = '';
                if (data.userSelectedType === 'R') { 
                    addr = data.roadAddress;
                } else { 
                    addr = data.jibunAddress;
                }

                // if(data.userSelectedType === 'R'){
                //     // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                //     if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                //         extraAddr += data.bname;
                //     }
                //     // 건물명이 있고, 공동주택일 경우 추가한다.
                //     // if(data.buildingName !== '' && data.apartment === 'Y'){
                //     //     extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                //     // }
                //     // // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                //     // if(extraAddr !== ''){
                //     //     extraAddr = ' (' + extraAddr + ')';
                //     // }
                //     // 조합된 참고항목을 해당 필드에 넣는다.
                //     // document.getElementById("sample6_extraAddress").value = extraAddr;
                
                // } 
                // else {
                //     document.getElementById("sample6_extraAddress").value = '';
                // }

                document.getElementById("sample6_address").value = addr;
                document.getElementById("studyRecruit").focus();
            }
        }).open();
    }

    
    var uploadedFile = '';
    function uploadFile(obj) {
        var formData = new FormData();
        // 이미지를 동적폼 전송 가능하게 해주는 FormData 객체 생성
        // FormData 객체는 window.FormData에 위치
        formData.append('name', uploadedFile);
        formData.append('studyImage', obj.files[0]);
        console.log(uploadedFile);
        console.log(obj.files[0]);
        // append() 메소드로 key-value 값을 하나씩 추가
        // 같은 key를 가진 값을 여러개 넣을 수 있음 ! (값은 문자열로 자동변환)

        axios({
            method: 'post', 
            url: 'http://localhost:8000/feed/write/upload',
            data: formData,  
        })
        .then((req) => {return req.data})
        .then((data) => {
            uploadedFile = data.fileName;
            alert(data.study_image);
            $('#group_img').attr('src', '/public/user/' + data.fileName);
        })
    }

    

                    // <!-- 그룹 프로필 이미지  -->
                    // <div class="group" id="group_img_upload">
                    //     <label for="groupImg">그룹이미지+</div>
                    //     <input type="file" id='groupImg' name="studyImage" onchange="uploadFile( this )">
                    // <img id = 'group_img'></label>
                    // </div>

    
    </script>




</head>
<body>

    <nav>

    </nav>

    <div>
    <h2>스터디 등록</h2>
    <br>
    <div class="feed_container">
    <form id="feed_info" class="form_container" enctype="multipart/form-data">
            <div class="context_container">
                <div class="form-row">
                    <div>
                    <!-- 그룹 프로필 이미지  -->
                    <div class="group" id="group_img_upload">
                        <label for="groupImg">그룹이미지+</div>
                        <input type="file" id='groupImg' name="studyImage" onchange="uploadFile( this )" style="display:none;">
                    <img id = 'group_img'></label>
                    </div>
                </div>

                <div class="form-row">
                    <div class="name">스터디명</div>
                    <div class="value">
                    <input type="text" name="studyName" placeholder="스터디 그룹명을 적어주세요" required></div>
                </div>
                    <br>
                <div class="form-row">
                    <div class="name">카테고리 <br><span style="font-size: 0.7rem;">*카테고리를 선택해주세요.</span></div>
                    <div class="value">
                    <ul>
                        <li><input type="radio" name="studyCategory" value="언어">언어</li>
                        <li><input type="radio" name="studyCategory" value="자격증">자격증</li>
                        <li><input type="radio" name="studyCategory" value="취업">취업</li>
                        <li><input type="radio" name="studyCategory" value="IT">IT</li>
                        <li><input type="radio" name="studyCategory" value="취미">취미</li>
                        <li><input type="radio" name="studyCategory" value="인증">인증</li>
                        <li><input type="radio" name="studyCategory" value="공모전">공모전</li>
                    </ul>
                    </div>
                </div>
                    <br>
                <div class="form-row">
                    <div class="name">스터디형태</div><br>
                    <div class="value">
                        <input type="radio" name="studyForm" id="online" value="온라인" required>
                        <label for="online">온라인</label>
                        <input type="radio" name="studyForm" id="offline" value="오프라인" required>
                        <label for="offline">오프라인</label>
                        <p>
                            <input type="button" id="search_address" onclick="searchForAddress()" value="주소 검색">&nbsp;
                            <!-- <input type="text" id="sample6_postcode" placeholder="우편번호" style="width: 70px;"> &nbsp; -->
                            <input type="text" id="sample6_address" placeholder="주소" readonly><br>
                        </p>
                    </div>
                </div>
                    <br>
                <div class="form-row">
                    <div class="name">모집인원</div>
                    <div class="value">
                    <input type="text" id="studyRecruit" name="studyRecruit" style="width: 30px;">명
                    </div>
                </div>
                <br>
                <br>
                <div class="form-row">
                    <div class="name">스터디 소개글</div>
                    <div class="value">
                        <!-- <input type="textarea" placeholder="스터디 소개글을 적어주세요." name="studyContent"> -->
                        <textarea placeholder="스터디 소개글을 적어주세요." style="border: 1px solid #000; border-radius: 5px;"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="name">스터디 기간<br></div>
                    <div class="value">
                    시작일: <input type="hidden" name="start_period">
                    <select id="start_year" name="start_year">
                        <option>
                            <%for(var i=2022; i<=2050; i++) {%>
                                <option value="<%=i%>"><%=i%></option>
                            <%}%>
                        </option>
                    </select>년
                    <select id="start_month" name="start_month">
                        <option>
                            <%for(var j=1; j<=12; j++) {%>
                                <option value="<%=j%>"><%=j%></option>
                            <%}%>
                        </option>
                    </select>월
                    <select id="start_day" name="start_day">
                        <option>
                            <%for(var k=1; k<=31; k++) {%>
                                <option value="<%=k%>"><%=k%></option>
                            <%}%>
                        </option>
                    </select>일
                    </div>
                    <br>
                    <br>
                    <div class="value">
                    종료일: <input type="hidden" name="end_period">
                    <select id="end_year" name="end_year">
                        <option>
                            <%for(var i=2022; i<=2050; i++) {%>
                                <option value="<%=i%>"><%=i%></option>
                            <%}%>
                        </option>
                    </select>년
                    <select id="end_month" name="end_month">
                        <option>
                            <%for(var j=1; j<=12; j++) {%>
                                <option value="<%=j%>"><%=j%></option>
                            <%}%>
                        </option>
                    </select>월
                    <select id="end_day" name="end_day">
                        <option>
                            <%for(var k=1; k<=31; k++) {%>
                                <option value="<%=k%>"><%=k%></option>
                            <%}%>
                        </option>
                    </select>일
                </div>
                </div>
                    <br>
                <div class="form-row">
                    <div class="name">해시태그</div>
                    <div class="value"><input type="text" id="text_hashtag" placeholder="해시태그를 입력해주세요" name="hashTag" onkeypress="show_hashtag(event)"><p><sapn id="enter_hashtag"></sapn></p></div>
                </div>
                <br><br>

                <button type="button" onclick="writeFeed();">스터디 등록</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>

</body>
</html>