<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디관리</title>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> -->
    
    <link rel="stylesheet" href="/public/css/management.css">

    <script>
        // 게시물 수정하기 
        function editFeed() {
            var form = document.getElementById("management_info");
            var id = document.getElementById("study_id");

            var startDate = new Date($('#start_year').val()+'-'+ $('#start_month').val()+'-'+  $('#start_day').val());
            var endDate = new Date($('#end_year').val()+'-'+  $('#end_month').val()+'-'+  $('#end_day').val());

            if (startDate >= endDate) {
                swal('Error!','스터디 기간을 확인해주세요.','warning');
                return;
            }

            axios({
                method:'patch',
                url:'http://localhost:8000/feed/management/edit',
                data : {
                    study_id: id.innerText,
                    study_name : form.studyName.value,
                    study_category : form.studyCategory.value,
                    study_recruit : form.studyRecruit.value,
                    study_image : uploadedFile, 
                    study_content : form.studyContent.value,
                    start_period : form.start_year.value + '-' + form.start_month.value + '-' + form.start_day.value,
                    end_period : form.end_year.value + '-' + form.end_month.value + '-' + form.end_day.value,
                    hashtag: form,
                }
            })
            .then((req) => {return req.data;})
            .then((data) => {
                alert("수정 완료");
            })

        }

        // 게시물 삭제하기
        function deleteFeed() {
            var id = document.getElementById("study_id");

            axios({
                method:'delete',
                url:'http://localhost:8000/feed/management/delete',
                data : {
                    study_id: id.innerText
                }
            })
            .then((req) => {return req.data;})
            .then((data) => {
                alert("삭제 완료");
            })
        }

        /* 해시태그 엔터시 추가되는 부분 */
        function show_hashtag(event) {
            const keyword = document.getElementById('enter_hashtag');
            // console.log(keyword);
            const txt = document.getElementById('text_hashtag').value;

            // let btn = "<button type='button' class='deleteHashtag' onclick='deleteTag();'>X</button>";
            // $('#enter_hashtag').append(btn);   //이부분은 해시태그 삭제할 때 적용(미완)

            // console.log(txt);
            if (event.keyCode == 13) {
                keyword.innerHTML += "<span class='newHashtag'>" + '#' + txt + "</span>";
                document.getElementById('text_hashtag').value = "";
                
            }
        }    

        /* 그룹이미지 업로드 부분 */
        var uploadedFile = '';
        function uploadFile(obj) {
            var formData = new FormData();
            // 이미지를 동적폼 전송 가능하게 해주는 FormData 객체 생성
            // FormData 객체는 window.FormData에 위치
            formData.append('name', uploadedFile);
            formData.append('studyImage', obj.files[0]);
            console.log(uploadedFile);
            console.log(obj.files[0]);
            // append() 메소드로 key-value 값을 하나씩 추가
            // 같은 key를 가진 값을 여러개 넣을 수 있음 ! (값은 문자열로 자동변환)

            axios({
                method: 'post', 
                url: 'http://localhost:8000/feed/write/upload',
                data: formData
            })
            .then((req) => {
                console.log(req.data);
                // $('#groupImgLabel').css('display','none');
                return req.data
            })
            .then((data) => {
                uploadedFile = data.fileName;
                alert(data.study_image);
                
                $("label").remove("#label_img");

                $("#group_img").css({"background-image":`url(/public/group/${data.fileName})`}); 
                $("#group_img").css({"background-size":`700px 70px`});
                
            })
        }

        // 목록 버튼을 누르면
        function list() {
            document.location.href="http://localhost:8000/swith"; 
        }
    </script>
</head>
<body>
    <div id="wrapper">
        <div class="whole_container">
            <h2 style="text-align: center;">스터디 관리📌</h2>
            <br>
            <div class="management_container">
                <!-- form -->
                <form id="management_info" name="management_form" class="form_container" enctype="multipart/form-data">
                    <div class="context_container">

                        <!-- 스터디 아이디-->
                        <div id="study_id" style="display:none"><%=result.study_id %></div>

                        <!-- 스터디 이미지 업로드 -->
                        <div class="form-row">
                            <div class="group" id="group_img_upload">
                                <div id="group_img" style="background-image:url(/public/group/<%=result.study_img%>); background-size:700px 70px; ">
                                    <label class="groupImgLabel" for="groupImg">
                                        <input type="file" id="groupImg" style="display: none" name="studyImage" onchange="uploadFile(this);">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="Category_box"></div>

                        <!-- 스터디 명 -->
                        <div class="form-row">
                            <div class="name">스터디명&nbsp;&nbsp;&nbsp;</div>
                            <div class="value"> 
                                <input class="input_text" type="text" name="studyName" value="<%= result.study_name%>" maxlength="20" required>
                            </div>
                        </div>

                        <!-- 스터디 카테고리 -->
                        <div class="form-row">
                            <div class="name">카테고리 <br><span style="font-size: 0.7rem;">*카테고리를 선택해주세요.</span></div>
                            <div class="value">
                                <div id="study_category" style="display:none"><%=result.study_category %></div>
                                <ul>
                                    <li class="radio-btn"><input type="radio" id="category1" name="studyCategory" value="언어" required>
                                        <label for="category1">언어</label></li>
                                    <li class="radio-btn"><input  type="radio" id="category2" name="studyCategory" value="자격증">
                                        <label for="category2">자격증</label></li>
                                    <li class="radio-btn"><input type="radio" id="category3" name="studyCategory" value="취업">
                                        <label for="category3">취업</label></li>
                                    <li class="radio-btn"><input type="radio" id="category4" name="studyCategory" value="IT">
                                        <label for="category4">IT</label></li>
                                    <li class="radio-btn"><input type="radio" id="category5" name="studyCategory" value="취미">
                                        <label for="category5">취미</label></li>
                                    <li class="radio-btn"><input type="radio" id="category6" name="studyCategory" value="인증">
                                        <label for="category6">인증</label></li>
                                    <li class="radio-btn"><input type="radio" id="category7" name="studyCategory" value="공모전">
                                        <label for="category7">공모전</label></li>
                                </ul>
                            </div>
                        </div>

                        <!-- 스터디 형태 -->
                        <div class="form-row">
                            <div class="name">스터디형태 <br><span style="font-size: 0.7rem;">*스터디형태는 수정할 수 없습니다.</span> </div><br>
                            <div class="value" id="on_off">
                                <% if ( result.study_form == "온라인") { %>
                                    <input type="radio" name="studyForm" id="online" value="온라인" checked disabled>
                                    <label for="online">온라인</label>
                                    <input type="radio" name="studyForm" id="offline" value="오프라인" disabled>
                                    <label for="offline">오프라인</label>
                                <% } else {  %>
                                    <input type="radio" name="studyForm" id="online" value="온라인" disabled>
                                    <label for="online">온라인</label>
                                    <input type="radio" name="studyForm" id="offline" value="오프라인" checked disabled>
                                    <label for="offline">오프라인</label>
                                    <p>
                                        <input type="button" id="search_address" onclick="searchForAddress()" value="주소 검색" required disabled>&nbsp;
                                        <input type="text" id="sample6_address" name="sample6_adderess" value="<%= result.study_address%>" style="width: 300px; height: 25px; text-align: center;" disabled><br>
                                    </p>
                                <% } %>
                            </div>
                        </div>

                        <!-- 모집 인원 -->
                        <div class="form-row">
                            <div class="name">모집인원&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                            <div class="value">
                            <input type="text" id="studyRecruit" name="studyRecruit" value="<%= result.study_recruit%>" style="width: 40px; text-align: center;" required>&nbsp;명
                            </div>
                        </div>

                        <!-- 스터디 소개글 -->
                        <div class="form-row">
                            <div class="name">스터디 소개글</div>
                            <div class="value">
                                <textarea class="input_text" name='studyContent' style="border: 1px solid #000; border-radius: 5px;" maxlength="20" required><%= result.study_content%></textarea>
                            </div>
                        </div>
                        
                        <!-- 스터디 기간-->
                        <div id="start_period" style="display:none"><%=result.start_period %></div>
                        <div id="end_period" style="display:none"><%=result.end_period %></div>

                        <div class="form-row">
                            <div class="name">스터디 기간</div>
                            <ul class="period">
                                <li><div class="value">
                                    시작일: <input type="hidden" name="start_period">
                                    <select id="start_year" name="start_year" required>
                                        <option>
                                            <%for(var i=2022; i<=2050; i++) {%>
                                                <option value="<%=i%>"><%=i%></option>
                                            <%}%>
                                        </option>
                                    </select>년
                                    <select id="start_month" name="start_month" required>
                                        <option>
                                            <%for(var j=1; j<=12; j++) {%>
                                                <option value="<%=j%>"><%=j%></option>
                                            <%}%>
                                        </option>
                                    </select>월
                                    <select id="start_day" name="start_day" required>
                                        <option>
                                            <%for(var k=1; k<=31; k++) {%>
                                                <option value="<%=k%>"><%=k%></option>
                                            <%}%>
                                        </option>
                                    </select>일
                                </div></li>

                                <li><div class="value">
                                    종료일: <input type="hidden" name="end_period">
                                    <select id="end_year" name="end_year" required>
                                        <option>
                                            <%for(var i=2022; i<=2050; i++) {%>
                                                <option value="<%=i%>"><%=i%></option>
                                            <%}%>
                                        </option>
                                    </select>년
                                    <select id="end_month" name="end_month" required>
                                        <option>
                                            <%for(var j=1; j<=12; j++) {%>
                                                <option value="<%=j%>"><%=j%></option>
                                            <%}%>
                                        </option>
                                    </select>월
                                    <select id="end_day" name="end_day" required>
                                        <option>
                                            <%for(var k=1; k<=31; k++) {%>
                                                <option value="<%=k%>"><%=k%></option>
                                            <%}%>
                                        </option>
                                    </select>일
                                </div></li>
                            </ul>
                        </div>
                
                        <!-- 해시태그 -->
                        <div class="form-row">
                            <div class="name">해시태그</div>
                            <div class="value"><input class="input_text" type="text" id="text_hashtag" value="<%=result.hashtag%>" name="hashTag" onkeypress="show_hashtag(event)">
                                <p>
                                    <span id="enter_hashtag" name="enter_hashtag"></span>
                                </p>
                            </div>
                        </div>

                        <br><br>
                        <div class="warningDiv"></div>
                        <br><br>


                        <div class="regi_btn_wrap">
                            <button class="cancelebutton regi_btn2" type="button" onclick="deleteFeed();">삭제하기</button>
                            <button class="editbutton regi_btn" type="button" onclick="editFeed();">수정하기</button>     
                        </div>

                        <div class="Category_box"></div>
                        <button class="writebutton" type="button" onclick="list();">목록</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div id="footer" class="footer">
        <div class="footer_logo">    
            <img width="60" height="30" src="/public/login/logo.png" alt="footer_logo">
            <a href="index.js"></a>
        </div>
        <br>
        <p style="font-size:x-small;"class="copyright">Copyright 2022. Swith. All Rights Reserved.</p>
        <br>
        </div>
    </footer>


    <script>
        $(document).ready(function(){ 
            /* 스터디 카테고리 */
            var category_btn = document.querySelectorAll('.radio-btn');
            var study_category = document.getElementById('study_category');

            for(let i = 0; i < category_btn.length; i++){
                if (category_btn[i].innerText == study_category.innerText) {
                    $("#category"+(i+1)).prop("checked",true);
                }
            }

            /* 스터디 시작일 */
            var start_period = document.getElementById('start_period').innerText;
            var start_list = start_period.split("-");

            var start_year = parseInt(start_list[0]);
            var start_month = parseInt(start_list[1]);
            var start_day = parseInt(start_list[2]);

            $("#start_year").val(start_year).prop("selected", true);
            $("#start_month").val(start_month).prop("selected", true);
            $("#start_day").val(start_day).prop("selected", true);

            /* 스터디 마감일 */
            var end_period = document.getElementById('end_period').innerText;
            var end_list = end_period.split("-");

            var end_year = parseInt(end_list[0]);
            var end_month = parseInt(end_list[1]);
            var end_day = parseInt(end_list[2]);

            $("#end_year").val(end_year).prop("selected", true);
            $("#end_month").val(end_month).prop("selected", true);
            $("#end_day").val(end_day).prop("selected", true);

        });
    </script>
</body>
</html>