<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudyWITH</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/public/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="/public/css/search.css" />
  <script src="https://kit.fontawesome.com/cf7a6dd6e5.js" crossorigin="anonymous"></script>


  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>



  <script>

    // function mainSearch() {
    //     var form = document.getElementById('search_form');
    //     var search = $("#search").val();
    //     axios({
    //         method: 'get', 
    //         url: 'http://localhost:8000/swith/search', 
    //         params : {
    //             search : search
    //         }
    //     })
    //     .then((req) => {return req.data;})
    //     .then((data) => {
    //         if (data == '') {
    //             alert("ê²€ìƒ‰ì–´ë¥¼ ìž…ë ¥í•´ì£¼ì„¸ìš”ðŸ¤” ");
    //             return
    //         }
    //         console.log(data) // ê²€ìƒ‰í•´ì˜¨ study ì •ë³´ë“¤ dataë¡œ ë°›ì•„ì˜´
    //     })
    // }

    // function goCategory() {
    //     document.location.href='http://localhost:8000/swith/search';
    // }

    // function studySearch() {
    //     var form = document.getElementById('studySearch_form');
    //     var search = $("#search").val();


    //     axios({
    //         method: 'get', 
    //         url: 'http://localhost:8000/swith/search', 
    //         params : {
    //             search : search
    //         }
    //     })
    //     .then((req) => {return req.data;})
    //     .then((data) => {
    //         console.log(data)
    //         for ( var i = 0; i < data.length; i++ ){
    //             var html = "<div> ì œëª© : data.title <br><div> ë‚´ìš© : data.content </div></div>";
    //             $("#content").append(html);
    //         }
    //     })

    // }

  </script>
</head>
<body>

        <div class = "main-container">
            <div class = "filter-container">
                <div class = "category-head">
                        <form id="category-form">
                            <input type='hidden' name="category" id="ca_input">
                            <% var ca_list = ['ì»´í“¨í„°/IT', 'ì–¸ì–´', 'ìžê²©ì¦', 'ì¸ì¦', 'ì·¨ì—…/ì´ì§', 'ê³µëª¨ì „', 'ì·¨ë¯¸']%> 
                            <% for (i=0; i <= 6; i++){ %> 
                                <button type="button" class="category-title" id='category-title[i]'>
                                    <div class="category" >
                                        <p><%=ca_list[i]%></p>
                                    </div>
                                </button>
                                <% }%> 
                        </form>
                        <div id="study_category"></div>
                </div>

                <script>
                    // ì¹´í…Œê³ ë¦¬ ì •ë³´ ë³´ë‚´ê¸° 
                    
                    // var categorys = document.getElementsByClassName('category-title');

                    var categorys = document.querySelectorAll('.category-title');
                    
                    
                    for (const category of categorys) {     
                        category.addEventListener('click', function(obj) {
                            var car_site = obj.currentTarget;  //[object HTMLButtonElement]
                            var car_value = $(car_site).children('.category').children('p').text(); 
                            //var car_value = "ì»´í“¨í„°/IT";
                            console.log('targetcheck');
                            console.log(car_site);
                            console.log(car_value);                         
                            // .find('.ca')
                            axios({
                                method: 'post',
                                url: 'http://localhost:8000/swith/search/category',
                                data : {
                                    study_category : car_value
                                }
                            })
                            .then((req) => {return req.data; })
                            .then((data) => {
                                if (data.flag == true) {
                                    console.log(data),
                                    console.log(data.data);
                                }
                                var html = "";
                                html += "<div class='item-box'>";
                                html += "<ul>";
                                for ( var i = 0; i < data.data.length; i++ ){
                                    html += "<li>";
                                    html += "<div class='photo'>" + data.data[i].study_category + "</div>"; 
                                    html += "<div class='info'>" + "<img src='/public/group/"+data.data[i].study_image + "'/></div>";
                                    html += "</li>"

                                    console.log(data.data[i].study_category)
                                }
                                html += "</ul></div>"
                                $("#study_category").empty();
                                $("#study_category").append(html);
                            })
        
            
                    });  
                }
    </script>

            <div class="searchSection">
                <h2>"<%=search %> " ê²€ìƒ‰ ê²°ê³¼ìž…ë‹ˆë‹¤.</h2> <br><br>
                <ul>
                    <div class = "feed-collect">
                        <div class = "feed-main-container">
                            <!-- ìŠ¤í„°ë”” ì •ë³´ ê²Œì‹œë¬¼ ë³´ì—¬ì£¼ê¸° ë° ë³´ë‚´ê¸°-->
                                <% for(var i=0; i<data.length; i++) {%>
                                    
                                        <div class="studys">
                                            <!--  id="studys" -->
                                            <div class = "all-business">
                                                <div class = "post-img">
                                                    <img width="200px;" height="200px;" src = "/public/group/<%=data[i].study_image %>" alt = "post">
                                                    <span class = "category-name"><%=data[i].study_category%></span>
                                                    <p><%=data[i].study_id %></p>
                                                </div>
                                                <div type="button" class = "post-content">
                                                    <h2><%=data[i].study_name%></h2>
                                                    <span><%=data[i].num%></span>/<span><%=data[i].study_recruit%></span>
                                                </div> 
                                            </div>
                                            <div class="likes">
                                                <p style="font-size:2rem;" class="heart far fa-heart"></p>
                                            </div>
                                        </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            </div>
        </div>
        <script>

            
            $('.category-title').on('click',function() {
                $('.searchSection').css('display','none');
            })
            
 
    //ì¢‹ì•„ìš” ë²„íŠ¼ / /ì·¨ì†Œ ë™ì‹œì— ê¸°ëŠ¥

            var likes = document.querySelectorAll('.likes');

                    for (const like of likes) {
                        
                        like.addEventListener('click',function(obj) {
                            var target = obj.currentTarget;
                            var study_id = $(target).siblings('div').children('div').children('p').text();
                            


                        if ( $('.heart').hasClass('far fa-heart')) {

                            axios({
                                method:'post',
                                url: 'http://localhost:8000/swith/search/likes',
                                data : {
                                    study_id : study_id,
                                        }
                                })
                                .then((req) => { return req.data;})
                                .then((data) => {
                                    // console.log('ì´ê±´ë˜ë‚˜',data.isLikes); //{isLikes: true}
                                    if (data.isLikes == true) {
                                        $(target).children('.heart').removeClass('far fa-heart');
                                        $(target).children('.heart').addClass('fa-solid fa-heart');
                                        $(target).children('.heart').addClass('heartEffect');
                                    }
                                    
                                })
                            }


                        else {

                            axios({
                                method:'post',
                                url: 'http://localhost:8000/swith/search/likes/remove',
                                data : {
                                    study_id : study_id,
                                        }
                                })
                                .then((req) => { return req.data;})
                                .then((data) => {
                                    if (data.isDislikes == true) {
                                        console.log('ë˜ë‚˜ìš”..?');
                                        $(target).children('.heart').removeClass('fa-solid fa-heart');
                                        $(target).children('.heart').addClass('far fa-heart');
                                    }
                                })
                            }
                        })
                }
            


            // ìƒì„¸íŽ˜ì´ì§€ë¡œ ì´ë™í•˜ê¸°
            var allBs = document.getElementsByClassName('all-business');

            for (const allB of allBs) {
                allB.addEventListener('click', function(obj) {
                    var study_site = obj.currentTarget;
                    var study_id = $(study_site).children('div').children('p').text();
                    
                    // var target = document.getElementsByClassName(".likes");
                    // if(obj.target.getElementsByClassName != 'likes')
                    //     return;

                    axios ({
                        method:'post', 
                        url:'http://localhost:8000/swith/search/detailed', 
                        data : {
                            study_id : study_id
                        }
                    })
                    .then((req) => {return req.data;})
                    .then((data) => {
                        console.log(data.user_id); 
                        console.log(data.study_id);
                        document.location.href=`http://localhost:8000/feed/detailedPost?study_id=${data.study_id}`
                    })
                })
            }


            const categoryTitle = document.querySelectorAll('.category-title');
            const allCategoryPosts = document.querySelectorAll('.all');

            for(let i = 0; i < categoryTitle.length; i++){
                categoryTitle[i].addEventListener('click', filterPosts.bind(this, categoryTitle[i]));
            }

            function filterPosts(item){
                changeActivePosition(item);
                for(let i = 0; i < allCategoryPosts.length; i++){
                    if(allCategoryPosts[i].classList.contains(item.attributes.id.value)){
                        allCategoryPosts[i].style.display = "block";
                    } else {
                        allCategoryPosts[i].style.display = "none";
                    }
                }
            }

            function changeActivePosition(activeItem){
                for(let i = 0; i < categoryTitle.length; i++){
                    categoryTitle[i].classList.remove('active');
                }
                activeItem.classList.add('active');
            };
        </script>

</body>
<script>
    function showDetail( id ){
        var form = new FormData();
        form.append("study_id", id);
        form.method = "get";
        form.action="/d";
        form.submit();
    }
</script>
</html>


