<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudyWITH</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/public/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="/public/css/search.css" />
  <script src="https://kit.fontawesome.com/cf7a6dd6e5.js" crossorigin="anonymous"></script>


  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>



  <script>

    function mainSearch() {
        var form = document.getElementById('search_form');
        var search = $("#search").val();
        axios({
            method: 'get', 
            url: 'http://localhost:8000/swith/search', 
            params : {
                search : search
            }
        })
        .then((req) => {return req.data;})
        .then((data) => {
            if (data == '') {
                alert("검색어를 입력해주세요🤔 ");
                return
            }
            console.log(data) // 검색해온 study 정보들 data로 받아옴
        })
    }

    function goCategory() {
        document.location.href='http://localhost:8000/swith/search';
    }

    function studySearch() {
        var form = document.getElementById('studySearch_form');
        var search = $("#search").val();


        axios({
            method: 'get', 
            url: 'http://localhost:8000/swith/search', 
            params : {
                search : search
            }
        })
        .then((req) => {return req.data;})
        .then((data) => {
            console.log(data)
            for ( var i = 0; i < data.length; i++ ){
                var html = "<div> 제목 : data.title <br><div> 내용 : data.content </div></div>";
                $("#content").append(html);
            }
        })

    }

  </script>
</head>
<body>

        <div class = "main-container">
            <div class = "filter-container">
                <div class = "category-head">
                        <form id="category-form">
                            <input type='hidden' name="category" id="ca_input">
                            <% var ca_list = ['컴퓨터/IT', '언어', '자격증', '인증', '취업/이직', '공모전', '취미']%> 
                            <% for (i=0; i <= 6; i++){ %> 
                                <button type="button" class="category-title" id='category-title[i]'>
                                    <div class="category" >
                                        <p><%=ca_list[i]%></p>
                                    </div>
                                </button>
                                <% }%> 
                        </form>
                        <div id="study_category"></div>
                </div>

                <script>
                    // 카테고리 정보 보내기 
                    
                    // var categorys = document.getElementsByClassName('category-title');

                    var categorys = document.querySelectorAll('.category-title');
                    
                    
                    for (const category of categorys) {     
                        category.addEventListener('click', function(obj) {
                            var car_site = obj.currentTarget;  //[object HTMLButtonElement]
                            var car_value = $(car_site).children('.category').children('p').text(); 
                            //var car_value = "컴퓨터/IT";
                            console.log('targetcheck');
                            console.log(car_site);
                            console.log(car_value);                         
                            // .find('.ca')
                            axios({
                                method: 'post',
                                url: 'http://localhost:8000/swith/search/category',
                                data : {
                                    study_category : car_value
                                }
                            })
                            .then((req) => {return req.data; })
                            .then((data) => {
                                if (data.flag == true) {
                                    console.log(data),
                                    console.log(data.data);
                                }
                                var html = "";
                                html += "<div class='item-box'>";
                                html += "<ul>";
                                for ( var i = 0; i < data.data.length; i++ ){
                                    html += "<li>";
                                    html += "<div class='photo'>" + data.data[i].study_category + "</div>"; 
                                    html += "<div class='info'>" + "<img src='/public/group/"+data.data[i].study_image + "'/></div>";
                                    html += "</li>"

                                    console.log(data.data[i].study_category)
                                }
                                html += "</ul></div>"
                                $("#study_category").empty();
                                $("#study_category").append(html);
                            })
        
            
                    });  
                }
                </script>

                <!-- <h2>"<%=search %> " 검색 결과입니다.</h2> <br><br>
                <ul>
                    <div class = "feed-collect">
                        <div class = "feed-main-container">
                        <% for(var i=0; i<data.length; i++) {%>
                        <div class = "all business">
                            <div class = "post-img">
                                <img src = "/public/group/<%=data[i].study_image %>" alt = "post">
                                <span name="categoryName" class = "category-name"><%=data[i].study_category%></span>
                            </div>
                            <div class = "post-content">
                                <h2><%=data[i].study_name%></h2>
                                <p><%=data[i].study_recruit%></p>
                            </div>
                        </div>
                        <% } %>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
 -->

        <!-- // function feedCategory() {
        //     var cate = document.getElementById('category-form');
        //     var send = $("ca_input").val();

        //     axios({
        //         method: 'post',
        //         url: 'http://localhost:8000/swith/search/',
        //         data: {
        //             study_category : form.categoryName.value
        //         }
        //     })
        //     .then((req) => {console.log(req.data);})
        //     .then((data) => {
        //         for ( var i = 0; i < data.length; i++ ){
        //             var html = "<div> data[i].study_category </div>";
        //             $("#study_category").append(html);
        //         }
        //     })
        // } -->

            <div class="searchSection">
                <h2>"<%=search %> " 검색 결과입니다.</h2> <br><br>
                <ul>
                    <div class = "feed-collect">
                        <div class = "feed-main-container">
                            <!-- 스터디 정보 게시물 보여주기 및 보내기-->
                                <% for(var i=0; i<data.length; i++) {%>
                                    <div class="studys">
                                        <!--  id="studys" -->
                                        <div class = "all business">
                                            <div class = "post-img">
                                                <img src = "/public/group/<%=data[i].study_image %>" alt = "post">
                                                <span class = "category-name"><%=data[i].study_category%></span>
                                                <p><%=data[i].study_id %></p>
                                            </div>
                                            <div type="button" class = "post-content">
                                                <h2><%=data[i].study_name%></h2>
                                                <span><%=data[i].num%></span>/<span><%=data[i].study_recruit%></span>
                                            </div> 
                                        </div>
                                        <div class="likes">
                                            <!-- 빈하트 -->
                                            <p style="font-size:2rem;" class="heart far fa-heart"></p>
                                        </div>
                                    </div>
                                    <% } %>
                        </div>
                    </div>
                </ul>
            </div>
            </div>
        </div>
        <script>

            
            $('.category-title').on('click',function() {
                $('.searchSection').css('display','none');
            })
            



            // 좋아요 추가하기
                var likes = document.querySelectorAll('.likes');

                    for (const like of likes) {
                        
                    // likes.forEach((like) => {
                        like.addEventListener('click',function(obj) {
                            var target = obj.currentTarget;
                            // var study_id = $(target).parent('div').parent('div').children('div').children('p').text();
                            
                            var study_id = $(target).siblings('div').children('div').children('p').text();
                            // alert(study_id);

                            axios({
                                method:'post',
                                url: 'http://localhost:8000/swith/search/likes',
                                data : {
                                    study_id : study_id,
                                        }
                                })
                                .then((req) => { return req.data;})
                                .then((data) => {
                                    // console.log('이건되나',data.isLikes); //{isLikes: true}
                                    if (data.isLikes == true) {
                                        $(target).children('.heart').removeClass('far fa-heart');
                                        $(target).children('.heart').addClass('fa-solid fa-heart');
                                    }
                                    
                                })
                        })
                }



            // 상세페이지로 이동하기
            var studys = document.getElementsByClassName('studys'); 

            for (const study of studys) {
                study.addEventListener('click', function(obj) {
                    var study_site = obj.currentTarget;
                    var study_id = $(study_site).children('div').children('div').children('p').text();
                    var target = document.getElementsByClassName(".likes");
                    
                    if(obj.target.getElementsByClassName != 'likes')
                        return;

                    axios ({
                        method:'post', 
                        url:'http://localhost:8000/swith/search/detailed', 
                        data : {
                            study_id : study_id
                        }
                    })
                    .then((req) => {return req.data;})
                    .then((data) => {
                        console.log(data.user_id); 
                        console.log(data.study_id);
                        document.location.href=`http://localhost:8000/feed/detailedPost?study_id=${data.study_id}`
                    })
                })
            }


            const categoryTitle = document.querySelectorAll('.category-title');
            const allCategoryPosts = document.querySelectorAll('.all');

            for(let i = 0; i < categoryTitle.length; i++){
                categoryTitle[i].addEventListener('click', filterPosts.bind(this, categoryTitle[i]));
            }

            function filterPosts(item){
                changeActivePosition(item);
                for(let i = 0; i < allCategoryPosts.length; i++){
                    if(allCategoryPosts[i].classList.contains(item.attributes.id.value)){
                        allCategoryPosts[i].style.display = "block";
                    } else {
                        allCategoryPosts[i].style.display = "none";
                    }
                }
            }

            function changeActivePosition(activeItem){
                for(let i = 0; i < categoryTitle.length; i++){
                    categoryTitle[i].classList.remove('active');
                }
                activeItem.classList.add('active');
            };
        </script>
        


    <!-- <div class="category-container">
        <div class="category-head"> 
            <ul>
                <div class="category-title" id="all">
                    <li>전체</li>
                </div>
                <div class="category-title" id="all">
                    <li>컴퓨터/IT</li>
                </div>
                <div class="category-title" id="all">
                    <li>언어</li>
                </div>
                <div class="category-title" id="all">
                    <li>자격증</li>
                </div>
                <div class="category-title" id="all">
                    <li>인증</li>
                </div>
                <div class="category-title" id="all">
                    <li>취업/이직</li>
                </div>
                <div class="category-title" id="all">
                    <li>공모전</li>
                </div>
                <div class="category-title" id="all">
                    <li>취미</li>
                </div>
            </ul>
        </div> -->

        <!-- <div class="posts-collector">
            <div class="posts-main-container">
                <div class="post-img">
                    <img src="/public/search/조회페이지(컴퓨터).jpeg" alt="feed">
                    <span class="category-name">컴퓨터/IT</span>
                </div>

                <div class="post-content">
                    <div class="post-content-top"></div>
                </div>
            </div>
        </div> -->









    <!-- <form method="get" action="">
        <input type="text" name="study_id">
    </form> -->


</body>
<script>
    function showDetail( id ){
        var form = new FormData();
        form.append("study_id", id);
        form.method = "get";
        form.action="/d";
        form.submit();
    }
</script>
</html>


