<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudyWITH</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/public/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="../public/css/search.css" />

  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>



  <script>

    function mainSearch() {
        var form = document.getElementById('search_form');
        var search = $("#search").val();
        axios({
            method: 'get', 
            url: 'http://localhost:8000/swith/search', 
            params : {
                search : search
            }
        })
        .then((req) => {return req.data;})
        .then((data) => {
            if (data == '') {
                alert("검색어를 입력해주세요🤔 ");
                return
            }
            console.log(data) // 검색해온 study 정보들 data로 받아옴
        })
    }

    function goCategory() {
        document.location.href='http://localhost:8000/swith/search';
    }

    function studySearch() {
        var form = document.getElementById('studySearch_form');
        var search = $("#search").val();


        axios({
            method: 'get', 
            url: 'http://localhost:8000/swith/search', 
            params : {
                search : search
            }
        })
        .then((req) => {return req.data;})
        .then((data) => {
            console.log(data)
            for ( var i = 0; i < data.length; i++ ){
                var html = "<div> 제목 : data.title <br><div> 내용 : data.content </div></div>";
                $("#content").append(html);
            }
        })

    }

  </script>
</head>

<body>
    <div class="search_bar">
        <form id="studySearch_form" method="post">
        <div>
            <div>
                <span>스터디 이름 :</span>
                <input type="text" name="search" id='search' class="search_input" placeholder="찾고 있는 스터디를 검색해보세요" style="color:black">
                &nbsp;&nbsp;
                <span>모집인원 :</span>
                <input type="radio" name="memberNum">2~3명
                <input type="radio" name="memberNum">4~6명
                <input type="radio" name="memberNum">7명이상

                <br><br>
                <div class="form-row">
                    <div class="name">스터디 기간</div>
                    <ul class="period">
                    <li><div class="value">
                    시작일: <input type="hidden" name="start_period">
                    <select id="start_year" name="start_year" required>
                        <option>
                            <%for(var i=2022; i<=2050; i++) {%>
                                <option value="<%=i%>"><%=i%></option>
                            <%}%>
                        </option>
                    </select>년
                    <select id="start_month" name="start_month" required>
                        <option>
                            <%for(var j=1; j<=12; j++) {%>
                                <option value="<%=j%>"><%=j%></option>
                            <%}%>
                        </option>
                    </select>월
                    <select id="start_day" name="start_day" required>
                        <option>
                            <%for(var k=1; k<=31; k++) {%>
                                <option value="<%=k%>"><%=k%></option>
                            <%}%>
                        </option>
                    </select>일
                    </div>
                    </li>

                    <li>
                    <div class="value">
                    종료일: <input type="hidden" name="end_period">
                    <select id="end_year" name="end_year" required>
                        <option>
                            <%for(var i=2022; i<=2050; i++) {%>
                                <option value="<%=i%>"><%=i%></option>
                            <%}%>
                        </option>
                    </select>년
                    <select id="end_month" name="end_month" required>
                        <option>
                            <%for(var j=1; j<=12; j++) {%>
                                <option value="<%=j%>"><%=j%></option>
                            <%}%>
                        </option>
                    </select>월
                    <select id="end_day" name="end_day" required>
                        <option>
                            <%for(var k=1; k<=31; k++) {%>
                                <option value="<%=k%>"><%=k%></option>
                            <%}%>
                        </option>
                    </select>일
                </li>
            </div>
                <button class="search" name="search_button" style="font-size: 20px;" onclick="studySearch()">🔍</button>
            </div>
        </div>
        </form>
    </div>


        <!-- 게시물등록할 때 등록한 이미지 / 게시물 제목 / 스터디기간 받아와야 함... -->
    <form method="get" action="">
        <div class = "main-container">
            <div class = "filter-container">
                <div class = "category-head">
                    <ul>
                        <div class = "category-title active" id = "all">
                            <li>전체</li>
                        </div>
                        <div class = "category-title" id = "computer">
                            <li>컴퓨터/IT</li>
                        </div>
                        <div class = "category-title" id = "language">
                            <li>언어</li>
                        </div>
                        <div class = "category-title" id = "certificate">
                            <li>자격증</li>
                        </div>
                        <div class = "category-title" id = "confirm">
                            <li>인증</li>
                        </div>
                        <div class = "category-title" id = "work">
                            <li>취업/이직</li>
                        </div>
                    </ul>
                </div>
            </form>
                <h2>"<%=search %> " 검색 결과입니다.</h2> <br><br>
                <ul>
                    <div class = "feed-collect">
                        <div class = "feed-main-container">
                            <!-- 스터디 정보 폼태그 -->
                            <form id="category-form">
                                <% for(var i=0; i<data.length; i++) {%>
                                    <button class="studys">
                                        <!--  id="studys" -->
                                        <div class = "all business">
                                            <div class = "post-img">
                                                <img src = "/public/group/<%=data[i].study_image %>" alt = "post">
                                                <span class = "category-name"><%=data[i].study_category%></span>
                                                <p><%=data[i].study_id %></p>
                                            </div>
                                            <div class = "post-content">
                                                <h2><%=data[i].study_name%></h2>
                                                <p><%=data[i].study_recruit%></p>
                                            </div>
                                        </div>
                                    </button>
                                        <% } %>
                                    </div>
                            </form>
                    </div>
                </ul>
            </div>
        </div>
        <script>
            // 상세페이지로 이동하기
            var studys = document.getElementsByClassName('studys'); 

            for (const study of studys) {
                study.addEventListener('click', function(obj) {
                    var study_site = obj.currentTarget;
                    // var study_id = document.querySelector(".studys > div > div.post-img > p").innerHTML;
                    // var study_id = $(study_site)
                    
                    
                    // axios ({
                    //     method:'post', 
                    //     url:'http://localhost:8000/swith/search/detailed', 
                    //     data : {
                    //         study_id : study_id
                    //     }
                    // })
                    // .then((req) => {return req.data;})
                    // .then((data) => {
                    //     document.location.href=`http://localhost:8000/feed/detailedPost?user_id=${data.user_id}&study_id=${data.study_id}`
                    // })
                })
            }


            const categoryTitle = document.querySelectorAll('.category-title');
            const allCategoryPosts = document.querySelectorAll('.all');

            for(let i = 0; i < categoryTitle.length; i++){
                categoryTitle[i].addEventListener('click', filterPosts.bind(this, categoryTitle[i]));
            }

            function filterPosts(item){
                changeActivePosition(item);
                for(let i = 0; i < allCategoryPosts.length; i++){
                    if(allCategoryPosts[i].classList.contains(item.attributes.id.value)){
                        allCategoryPosts[i].style.display = "block";
                    } else {
                        allCategoryPosts[i].style.display = "none";
                    }
                }
            }

            function changeActivePosition(activeItem){
                for(let i = 0; i < categoryTitle.length; i++){
                    categoryTitle[i].classList.remove('active');
                }
                activeItem.classList.add('active');
            };
        </script>
        


    <!-- <div class="category-container">
        <div class="category-head"> 
            <ul>
                <div class="category-title" id="all">
                    <li>전체</li>
                </div>
                <div class="category-title" id="all">
                    <li>컴퓨터/IT</li>
                </div>
                <div class="category-title" id="all">
                    <li>언어</li>
                </div>
                <div class="category-title" id="all">
                    <li>자격증</li>
                </div>
                <div class="category-title" id="all">
                    <li>인증</li>
                </div>
                <div class="category-title" id="all">
                    <li>취업/이직</li>
                </div>
                <div class="category-title" id="all">
                    <li>공모전</li>
                </div>
                <div class="category-title" id="all">
                    <li>취미</li>
                </div>
            </ul>
        </div> -->

        <!-- <div class="posts-collector">
            <div class="posts-main-container">
                <div class="post-img">
                    <img src="/public/search/조회페이지(컴퓨터).jpeg" alt="feed">
                    <span class="category-name">컴퓨터/IT</span>
                </div>

                <div class="post-content">
                    <div class="post-content-top"></div>
                </div>
            </div>
        </div> -->




        <!-- <form method="get" action="">
            <h2>"<%=search %> " 검색 결과입니다.</h2> <br><br>
            <div class="search_Result">
                <div>
                    <img src="../public/search/computer.jpeg" alt="">
                    <div>
                        <h3><%=data[0].study_name %></h3>
                        <p>스터디기간</p>
                        <div><%=data[0].study_image %></div>
                    </div>
                </div>
            </div>
        </form> -->




    <!-- <form method="get" action="">
        <input type="text" name="study_id">
    </form> -->


</body>
<script>
    function showDetail( id ){
        var form = new FormData();
        form.append("study_id", id);
        form.method = "get";
        form.action="/d";
        form.submit();
    }
</script>
</html>

